.manage-inventory-container .table-header {
	border-bottom: 2px solid #050505;
}
.manage-inventory-container table tr:nth-child(odd) {
	/* background-color: rgba(5, 5, 5, 0.3);
	color: white; */
}
.manage-inventory-container .add-btn {
	float: right !important;
	display: block;

	align-self: flex-end !important;
	margin-right: 148px;
}
@media only screen and (max-width: 768px) {
	.manage-inventory-container {
		width: 100vw;
		padding-bottom: 24px;
	}
	.manage-inventory-container table {
		width: 90vw;
		font-size: 10px;
		margin: 8px auto;
	}
	.manage-inventory-container table th {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 25%;
	}
	.manage-inventory-container .add-btn {
		display: block;
		margin-right: 24px;
	}
	.excluded {
		display: none;
	}
}
