.footer-container {
	background-color: #050505;
	color: white;
}
.footer-container .email {
	padding: 36px 75px;
	border: 1px solid white;
	justify-content: space-between;
	align-items: center;
}
.footer-container .right {
	width: 40% !important;
	padding-right: 36px;
}
.footer-container .contact {
	padding: 24px 75px;
}
.footer-container .copyright {
	padding: 28px 75px;
	background-color: rgba(5, 5, 5, 0.8);
	background-color: rgba(128, 128, 128, 0.05);
}
