.inventory-item-container {
	display: flex;
	flex-direction: column;
	width: 300px;
	border-radius: 8px;
	padding: 4px;
	position: relative;
	font-style: italic;
}
.inventory-item-container h4 {
	color: #111111;
	font-weight: 700;
	font-style: italic;
}
.inventory-item-container p {
	color: #050505;
	font-weight: 500;
}
.inventory-item-container img {
	border-radius: 8px;
	height: 142px;
}
.inventory-item-container button {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	position: absolute;
	bottom: 0;
	background-image: linear-gradient(60deg, indigo, purple);
	color: white;
	border: 0;
	width: 100%;
	left: 0;
}
